body{
    background:url(https://img.freepik.com/free-vector/elegant-cloud-background-blue-sky-design_1017-25503.jpg?w=1060&t=st=1659620722~exp=1659621322~hmac=be686ea516a017cf111f701b1e5fa7f410eddca2892343d6cf7274ac701dd195);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}